.benefits {
    display: flex;
    gap: 30px;
}

.benefits__icons {
    display: inline-flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
}

.benefits__subject {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}